*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #D9FF38;
  color: #1A2F39;
}

::selection {
  background-color: #D9FF38;
  color: #1A2F39;
}

.headline-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: #EEECEC;
  text-align: center;
  padding-top: 10rem;
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 4rem 15rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 47, 57, 0.9)), to(rgba(26, 47, 57, 0.9))), url("../img/bg-header.jpg");
  background-image: -webkit-linear-gradient(rgba(26, 47, 57, 0.9), rgba(26, 47, 57, 0.9)), url("../img/bg-header.jpg");
  background-image: -o-linear-gradient(rgba(26, 47, 57, 0.9), rgba(26, 47, 57, 0.9)), url("../img/bg-header.jpg");
  background-image: linear-gradient(rgba(26, 47, 57, 0.9), rgba(26, 47, 57, 0.9)), url("../img/bg-header.jpg");
}

.header__headline {
  padding-top: 0;
}

.header__typewriter {
  font-family: "Courier Prime", monospace;
  font-size: 7rem;
  font-weight: 300;
  color: #577DD3;
}

.header__icon {
  position: absolute;
  bottom: 4rem;
  font-size: 8rem;
  color: rgba(238, 236, 236, 0.9);
  -webkit-animation: moveInTop 2.5s ease-out 6;
          animation: moveInTop 2.5s ease-out 6;
}

.nav {
  position: fixed;
  top: 0;
  padding: 4rem 15rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #577DD3;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav__logo {
  color: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  font-weight: 700;
  font-size: 3rem;
  text-transform: lowercase;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.nav__link:link, .nav__link:visited {
  color: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  font-size: 2rem;
  font-weight: 300;
}

.nav__link:hover, .nav__link:active {
  border-bottom: 2px solid #D9FF38;
}

.nav__button {
  display: none;
}

.leistungen {
  background-color: #EEECEC;
}

.leistungen__headline {
  color: #1A2F39;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10rem;
  font-family: "Montserrat";
  color: #1A2F39;
}

.tabs__tab {
  width: 32%;
  border-bottom: solid 5px #577DD3;
}

.tabs__number {
  font-size: 2rem;
}

.tabs__headline {
  font-size: 3rem;
}

.tabs__text {
  margin-top: 5rem;
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  line-height: 1.4;
}
