.nav {
    position: fixed;
    top: 0;
    padding: 4rem 15rem;
    width: 100%;
    max-width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $color-secondary;
    font-family: $font-primary;
    text-decoration: none;
    letter-spacing: 2px;

    @media (max-width: 1100px){
        padding: 4rem 4rem;
    }

    &__logo {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: inherit;
            letter-spacing: inherit;
            font-weight: 700;
            font-size: 3rem;
            text-transform: lowercase;
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border-bottom: 2px solid $color-tertiary;
        }
    }

    

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__item:not(:last-child) {
        margin-right: 3rem;
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: inherit;
            letter-spacing: inherit;
            font-size: 2rem;
            font-weight: 300;
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border-bottom: 2px solid $color-tertiary;
        }
        
    }    

    &__button {
        display: none;
    }
}