.nav {
    position: fixed;
    top: 0;
    padding: 2rem 15rem;
    width: 100%;
    max-width: 1900px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $color-primary-dark;
    font-family: $font-primary;
    text-decoration: none;
    letter-spacing: 2px;
    //background-color: $color-primary-dark;

    @media (max-width: 1100px){
        padding: 2rem 2.5rem;
    }

    &__logo {
        &:link,
        &:visited {
            
            text-decoration: inherit;
            letter-spacing: 4px;
            font-weight: 700;
            font-size: 1.8rem;

            color: $color-primary-light;
            padding: .5rem 1rem;
            border: 2px solid $color-primary-light;
            border-radius: 2px;
            background-color: $color-primary-dark;
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border: 2px solid $color-secondary;
        }
    }

    

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        @media (max-width: 800px){
            display: none;
        }
    }

    &__item:not(:last-child) {
        margin-right: 2rem;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: inherit;
            letter-spacing: inherit;
            font-size: 1.8rem;
            font-weight: 400;

            color: $color-primary-light;
            padding: .5rem 1rem;
            border: 2px solid $color-primary-light;
            border-radius: 2px;
            background-color: $color-primary-dark;
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            border: 2px solid $color-secondary;
        }
        
    }    

    &__button {
        display: none;
        font-size: 3rem;
        font-weight: bold;
        align-self: center;
        
        color: $color-primary-light;
            //padding: .5rem 1rem;
            border: 2px solid $color-primary-light;
            border-radius: 2px;
            background-color: $color-primary-dark;

        @media (max-width: 800px){
            display: block;
        }
    }
}