.slider {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__items {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-y: hidden;
        overflow-x: scroll;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            display: none;
        }
    }

    &__item {
        min-width: 32%;
        height: 100%;
        border: solid 5px $color-primary-light;
        text-decoration: none;
        

        &:not(:last-child) {
            margin-right: 2%;
        }

        &:hover {
            border-color: $color-tertiary;
            cursor: pointer;
        }

        &Inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgba($color-primary-dark, .8);
            opacity: 0;
        }

        &--01 {
            background-image: url(../../img/bg-rohrmax.png);
            @include portfolioBgImg;
        }

        &--02 {
            background-image: url(../../img/bg-fluxguide.png);
            @include portfolioBgImg;
        }

        &--03 {
            background-image: url(../../img/bg-lifesystems.png);
            @include portfolioBgImg;
        }

        &--04 {
            background-image: url(../../img/bg-rohrmax.png);
            @include portfolioBgImg;
        }

        &--software {
            font-family: $font-secondary;
            font-size: 2.5rem;
            line-height: 1.1;
            color: $color-primary-light;
            margin-bottom: 3rem;
            opacity: 0;
        }

        &--kunde {
            font-family: $font-primary;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.1;
            color: $color-primary-light;
            margin-bottom: 5rem;
            opacity: 0;
        }

        &--icon {
            font-size: 6.4rem;
            color: $color-tertiary;
            opacity: 0;
        }
    }
}

.slider__button,
.slider__button:link,
.slider__button:active {
    background-color: transparent;
    border: none;
    margin: 0;
    color: $color-primary-light;
    outline: none;

    &:hover,
    &:focus {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.slider__arrow {
    font-size: 8rem;
}




@media (max-width: 1350px){
    .slider {
        height: 50vh;
    }

    .slider__items {
        flex-wrap: wrap;
    }

    .slider__item {
        width: 48%;
        margin: 3rem 1%;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .slider__button {
        display: none;
    }
}