.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $font-primary;
  color: $color-primary-dark;

  &__tab {
      min-width: 32%;
      border-bottom: solid 5px $color-primary-dark;
      list-style-type: none;

      &:hover,
      &:active {
          border-bottom: solid 5px rgba($color-secondary, .8);
          cursor: pointer;
      }
      &--active {
        border-bottom-color: $color-secondary;
      }

      &:hover .tabs__headline,
      &:active .tabs__headline {
          color: rgba($color-secondary, .8);
      }      
  }

  &__number {
      font-size: clamp(1.6rem, 1.6vw, 2rem);
  }

  &__headline {
      font-size: clamp(2rem, 2.5vw, 3rem);
      padding-bottom: 1rem;

      &--active {
        color: $color-secondary;
      }
  }

  &__text {
      width: 66%;
      display: none;
      margin-top: 6rem;
      font-family: $font-secondary;
      font-size: clamp(1.8rem, 2vw, 3rem);
      line-height: 1.4;
      hyphens: auto;

      &--active {
        display: block;
      }
  }
}