.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: $font-primary;
  color: $color-primary-dark;

  &__tab {
      width: 32%;
      border-bottom: solid 5px $color-primary-dark;
      list-style-type: none;
      margin-bottom: 6rem;

      &:hover,
      &:active {
          border-bottom: solid 5px rgba($color-secondary, .8);
          cursor: pointer;
      }

      &--active {
        border-bottom-color: $color-secondary;
      }

      &:hover .tabs__headline,
      &:active .tabs__headline {
          color: rgba($color-secondary, .8);
      }
  }

  &__number {
      font-size: clamp(1.6rem, 1.6vw, 2rem);
      font-weight: 700;
      margin-bottom: 1.5rem;
  }

  &__headline {
      font-size: clamp(1.8rem, 1.8vw, 3rem);
      letter-spacing: 2px;
      line-height: 1;
      padding-bottom: 1rem;

      &--active {
        color: $color-secondary;
      }
  }

  &__text {
      @include tabText;

      &--active {
        display: block;
      }

      &--mobile {
        display: none;
        margin-bottom: 4rem;
        @include tabText;        
      }
  }
}



@media (max-width: 1350px) {
  .tabs__text {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs__tab {
    width: 65%;
    margin-bottom: 3rem;
    border-bottom-color: $color-secondary;
  }

  .tabs__headline {
    color: $color-secondary;
  }
  
  .tabs__text--mobile {
    display: block;
  }

  
}

@media (max-width: 500px) {
  .tabs__text--mobile {
    width: 100%;
  }
}