*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: $default-font-size;
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-tertiary;
    color: $color-primary-dark;
}

.scrollwrapper {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    @media (max-width: 1350px){
        scroll-snap-type: none;
    }
}