.headline-primary {
    padding: 0 6vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 8vh;
    color: #EEECEC;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100vw;
    text-align: center; 
}