@mixin focus {
    outline: none;
    border: 2px solid $color-tertiary;
    border-radius: 3px;
    padding: .2rem;
}

@mixin tabText {
    width: 70%;
    display: none;
    font-family: $font-secondary;
    font-size: clamp(1.8rem, 1.5vw, 2.5rem);
    font-weight: 300;
    line-height: 1.4;
    hyphens: auto;
}