// Colors
$color-primary-light: #EEECEC;
$color-primary-dark: #1A2F39;
$color-secondary: #577DD3;
$color-tertiary: #D9FF38;

// FONT
$default-font-size: 1.6rem;
$font-primary: "Staatliches", cursiv;
$font-secondary: "Courier Prime", monospace;