// Colors
$color-primary-light: #EEECEC;
$color-primary-dark: #1A2F39;
$color-secondary: #5560e7;
$color-tertiary: #D9FF38;

// FONT
$default-font-size: 1.6rem;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "DM Mono", monospace;